:root {
    --color-1: #16103A;
    --color-2: 	#262953;
    --color-3: 	#fc5c6a;
    --color-4: 	#ffc852;
    --color-5: #01d1ff;
    --color-6: #c552e5;
    --color-7: 	#0ed354;
    --color-8: #E0E1E7;
    --text-color-1: #E0E1E7;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh !important;
    background-color: var(--color-1) !important;
    color: var(--text-color-1);
}

/* override */

.table > :not(caption) > * > * {
    background-color: unset;
}

/* common */

.d-none-custom {
    display: none;
}

input[type="text"], input[type="email"], input[type="password"] {
    min-width: 300px;
}

.navbar {
    background-color: var(--color-2) !important;
}

.navbar a {
    color: var(--text-color-1);
}

.navbar li a:hover {
    color: var(--color-5);
}

.nav-item.last {
    position: absolute;
    right: 0;
    padding-right: 1rem;
}

.dropdown-item:hover {
    background-color: #E0E1E720;
}

.dropdown-menu {
    background-color: var(--color-2);
    border-color: var(--color-8);
}

.navbar-toggler-icon {
    color: var(--color-8);
}

.breadcrumb-item a {
    color: var(--color-5);
    text-decoration: none;
}

.breadcrumb-item.active {
    color: var(--text-color-1);
}

i {
    padding-right: 5px;
}

/* login page */

.card-login {
    width: 400px;
    background-color: var(--color-2);
    border-radius: 10px;
    border-top: 5px solid var(--color-5);
}

.sign-up-link {
    color: var(--color-5);
    text-decoration: none;
}

/* dashboard */

.new {
    border-color: var(--color-3) !important;
    border-top: 3px solid var(--color-3);
}

.card-new:hover {
    border-color: var(--color-3) !important;
    background-color: #fc5c6a15 !important;
}

.qualified {
    border-color: var(--color-4) !important;
    border-top: 3px solid var(--color-4);
}

.card-qualified:hover {
    border-color: var(--color-4) !important;
    background-color: #ffc85215 !important;
}

.demo {
    border-color: var(--color-5) !important;
    border-top: 3px solid var(--color-5);
}

.card-demo:hover {
    border-color: var(--color-5) !important;
    background-color: #01d1ff15 !important;
}

.quoted {
    border-color: var(--color-6) !important;
    border-top: 3px solid var(--color-6);
}

.card-quoted:hover {
    border-color: var(--color-6) !important;
    background-color: #c552e515 !important;
}

.deal {
    border-color: var(--color-7) !important;
    border-top: 3px solid var(--color-7);
}

.card-deal:hover {
    border-color: var(--color-7) !important;
    background-color: #0ed35415 !important;
}

.total {
    border: 3px solid var(--color-8);
    border-radius: 50%;
    background-color: var(--color-2);
    width: 120px;
    height: 120px;
}


.total-nunmber {
    font-weight: 700;
}

.total-name {
    font-weight: 400;
}


.card-lg {
    z-index: 2;
    border-top: 5px solid var(--color-8);
    border-radius: 10px;
    background-color: var(--color-2);
}

.card-sm {
    border-radius: 10px;
    border: 1px solid var(--color-8);
}

.card-sm:hover {
    background-color: #E0E1E715;
}

/* users */

.table {
    margin: 1rem 0;
}

.table-container-custom {
    background-color: var(--color-2) !important;
    padding: 1rem;
    border-radius: 10px;
}

tr[class="tr-hover-custom"]:hover {
    background-color: #01d1ff15; 
    cursor: pointer;
}

th, td {
    color: var(--text-color-1) !important;
}

.btn-user-custom {
    width: 150px;
}

.user-from-custom {
    padding-top: 1rem;
    width: 60% !important;

}

/* new user */

.new-user-container-custom {
    background-color: var(--color-2) !important;
    padding: 1rem;
    border-radius: 10px;
}

/* view profile */

div.d-flex.flex-row div.nav-left-custom.mt-3 {
    border-right: 1px solid #545778;
    margin-right: 1rem;
    width: 120px;
    min-width: 120px;
}

div.nav-left-custom a.nav-left-options {
    display: block;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 4rem;
    text-decoration: none;
    color: var(--text-color-1);
    cursor: pointer;
}


div.nav-left-custom a.nav-left-options-active {
    background-color: var(--color-5);
    color:#16103A;
}

div.d-flex .profile-settings-tab {
    display: none;
}

div.d-flex .change-password-tab {
    display: none;
}

div.d-flex .account-settings-tab {
    display: none;
}

.display-block {
    display: block !important;
}

.fa-triangle-exclamation, .fa-circle-check {
    font-size: 1.5rem !important;
}

@media only screen and (max-width: 992px) {
    .nav-item.last {
        position: unset !important;
    }

    .user-from-custom {
        width: 80% !important;
    }
}